body{
  font-family: 'Quicksand', sans-serif;
	font-weight: 400;
  color: #FFFFFF;
  position: relative;
  overflow-x: hidden;
}

/* #nav_bar{
  padding-top: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  text-align: center;
}


#nav_bar ul li a:hover{
  color: #FFF;
} */
#pic{
  width: 200px;
  height: 200px;
  filter: brightness(90%);
  transform: translateY(-260%);
  border-radius: 50%;
  display: block;
  margin: auto;
  box-shadow: 0px 0px 30px 1px #333333;

}

#particles-js{
  background-color: #262626;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.name{
  color:white;
  font-weight: 500;
  letter-spacing: 7px;
  font-size: 45px;
  text-align: center;
  transform: translateY(-850%);
}
